<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <script type="module">
        import { timestampToDate } from './Date.js'
        const time = 1720687272
        // console.log(timestampToDate(time))
        // console.log(1)
        const obj = { 'a': 1 }
        console.log(Object.entries(obj).map(([key, value]) => ({ 'amount': key, value })))
    </script>
</body>

</html>